version: '2'
services:
  db:
    image: mysql:latest
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    environment:
      - MYSQL_DATABASE=app_development
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - '3306:3306'
    volumes:
      - ./data/mysql:/var/lib/mysql
  nginx:
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - rails
    links:
      - rails
    volumes_from:
      - rails
  rails:
    build: ./rails
    command: bundle exec rails s -p 3000 -b '0.0.0.0' -e development
    environment:
      - DOCKER_DATABASE_USERNAME=mysql
      - DOCKER_DATABASE_PASSWORD=password
    volumes:
      - ./rails:/app
    ports:
      - '3000:3000'
    depends_on:
      - db

