%header.header.navbar.navbar-expand-lg.navbar-dark
  %a.navbar-brand{ href: "#" }
    タイトル
  %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar-text', 'aria-controls': 'navbar-text', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbar-text
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ href: "#" } Android
      %li.nav-item
        %a.nav-link{ href: "#" } iOS
